blinker==1.9.0
click==8.4.1
et_xmlfile==2.0.0
Flask==2.3.3
Flask-SQLAlchemy==3.0.5
greenlet==3.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
openpyxl==3.1.2
psycopg2-binary==2.9.12
SQLAlchemy==2.0.50
typing_extensions==4.15.0
Werkzeug==3.1.8
